@import url(reset.css);
@import url(character.css);
@import url(content.css);
@import url(styles.css);
@import url(sidebar.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: #000;
}

ul{
    list-style-type: none;
}