@import "styles.css";
@import "content.css";
@import "character.css";
@import "sidebar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #000;
}

ul {
  list-style-type: none;
}
